@import url(./fontawesome-free-5.15.2-web/css/all.css);


img{

    height: 30px;
    width: 30px;
    background-color: skyblue;
}
a{
    text-decoration: none;
    padding-right: 30px;
    padding-left: 20px;
    color: black;
    
}
section{
    background-color:white;
}
body{
    background-color: skyblue;
}
ul{
     list-style-type: none;
     display: inline-block;
     padding-top: 10px;
    
}
li{
    display: inline-block;
    
}


