@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("../fontawesome-free-5.15.2-web/css/all.css");
*{
    line-height: 1.7;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
ul{
    list-style-type: none;
}
img{
    border-radius: 61px;
}
#container{
    background-color: white;
    width: 300px;
    position: relative;
    top: 100px;
    left: 460px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}
li{
    display: inline-block;
    background-color:blanchedalmond;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    height: 20px;
    width: 20px;
    position: relative;
    right: 20px;
    margin: 10px;
}
li:hover{
    background-color: crimson;

}

