@import url(../fontawesome-free-5.15.2-web/css/all.css);

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
form{
    display: inline-block;
}
#container{
          background-color: whitesmoke;
}
span{
    padding-left: 20px;
}
img{
    width: 25px;
    height: 25px;
}
form{
    padding-left: 100px;
}
.padding{
    padding-left: 300px;
}
ul{
    list-style-type: none;
    display: inline;
}
